*.iml
*.aab
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
keystore.jks
keystore.properties
fastlane/fastlane.json
fastlane/report.xml
.kotlin/
/app/Keystore/
/app/core/
/app/release/
/_messages/
/_yacb/
/tmp/
/LXMF-0.9.3.zip
/third_party/

# Local-only reference materials
/third_party/reticulum/
/third_party/lxmf/
/reticulum-messenger/
